# System files
.DS_Store
__pycache__/

# ThreeJS
**/threejs/node_modules/*
**/threejs/dist/*
**/threejs/src/models/*

src/media/profile_pics/*
src/staticfiles/*
src/build/node_modules/*
src/build/dist/*
src/ssl
src/frontend/static/*

old/
Makefile