# System files
.DS_Store
__pycache__/

# ThreeJS
src/static/js/threejs/node_modules/*
src/static/js/threejs/dist/*
src/static/js/threejs/models/*
src/static/js/threejs/

# Volumes
./static/*
./media/*
