:root {
    --Background: #1E1E1E;
    --Text: #FFF9F9;

    font-family: 'Outfit', sans-serif;
}


body {
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background: var(--Background); */
}
