:root {
    --Background: #1E1E1E;
    --Text: #FFF9F9;

    font-family: 'Outfit', sans-serif;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /* background: var(--Background); */
}
